@import url('./fonts.css');

body{

    font-family: 'muller';
   
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
.word{
    color: white;
    text-align: center;
    margin:0;
    font-size: 250px;
     
}
.translation{
    text-align: center;
    font-size: 100px;
    color: rgb(163, 236, 236);
    margin: 30px auto;


}